.wrapper {
  width: 100%;
  height: 100%;
  background-image: url("https://slottool.top/anh1.jpg");
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.29);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    height: 100%;
    transform: translateY(5%);
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
  }
  .container_center {
    padding: 20px 0px;
    height: 100%;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 50px;
  }
}
@media (min-width: 769px) {
  .container {
    width: 43%;
    height: 100vh;
    background-color: #fff;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container_center {
    width: 70%;
    margin: 0px auto;
  }
}

.infor {
  width: 55px;
  height: 55px;
  img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
}
.formlogin {
  margin-top: 30px;
  .title {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  .container_input {
    display: flex;
    flex-direction: column;
  }
  .container_input span {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #475569;
  }
  .container_input input {
    padding: 14px 16px;
    background-color: #fff;
    outline: none;
    border-radius: 10px;
    border: none;
    border: 1px solid #939dac;
  }
}
.remember_pass {
  margin: 16px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.warning_login {
  display: block;
  margin: 12px 0px;
  span {
    color: rgb(250, 41, 41);
  }
}
.container_button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 16px 12px;
  }
  button span {
    font-size: 14px;
    font-weight: 600;
  }
  .login {
    color: #fff;
    background-color: #082d67;
  }
  .register {
    background-color: #fff;
    border: 1px solid #939dac;
    color: #939dac;
  }
}
